<!-- <!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/1ab94d0eba.js" crossorigin="anonymous"></script>
  <title>Login Form</title>
  <link href="style.css">
</head>

<body>
  <main class="container">
    <h2>Login</h2>
    <form action="">
      <div class="input-field">
        <input type="text" name="username" id="username" placeholder="Enter Your Username">
        <div class="underline"></div>
      </div>
      <div class="input-field">
        <input type="password" name="password" id="password" placeholder="Enter Your Password">
        <div class="underline"></div>
      </div>

      <input type="submit" value="Continue">
    </form>

    <div class="footer">
      <span>Or Connect With Social Media</span>
      <div class="social-fields">
        <div class="social-field twitter">
          <a href="#">
            <i class="fab fa-twitter"></i>
            Sign in with Twitter
          </a>
        </div>
        <div class="social-field facebook">
          <a href="#">
            <i class="fab fa-facebook-f"></i>
            Sign in with Facebook
          </a>
        </div>
      </div>
    </div>
  </main>
</body>

</html> -->
<!-- active :true,
cellphone:[null],
cpf:[null],
email:[null],
name:[null],
password:[null], -->

<!-- <body>
  <main class="container">
    <h2>Natflix Login</h2>
    <form [formGroup]="form" ]="form">
      <div class="input-field">
        <input formControlName="cellphone" type="text" placeholder="Digite o umero do seu celular">
        <div class="underline"></div>
      </div>
      <div class="input-field">
        <input formControlName="cpf" type="text " placeholder="Digite seu CPF apenas numeros">
        <div class="underline"></div>
      </div>
      <div class="input-field">
        <input formControlName="email" type="text" placeholder="Digite seu email">
        <div class="underline"></div>
      </div>
      <div class="input-field">
        <input formControlName="name" type="text" placeholder="Digite seu nome">
        <div class="underline"></div>
      </div>
      <div class="input-field">
        <input formControlName="password" type="password" placeholder="digite sua senha">
        <div class="underline"></div>
      </div>
      <!-- <div class="input-field">
        <select formControlName="categorys" class="col-12 mb-3">
          <option [value]="null">Selecione a categoria</option>
          <option *ngFor="let c of category" [ngValue]="c.id"> {{c.name}}</option>
        </select> -->

</div>
<button (click)="createUser()" class="btn">Salvar</button>

</form> -->
